<%= stylesheet_link_tag 'index', :media => "all" %>

<h1>一覧ページ</h1>
<h3>投稿を検索</h3>

 <%= form_tag({controller:"spalas",action:"index"}, method: :get, class:"jjj") do %>
   <%= text_field_tag :search, " ", {class:"ddd"} %>
   <%= submit_tag '検索する', class:"pppp"  %>
<% end %>
<%= link_to "新規投稿へ", new_spala_path %>
<% if user_signed_in? %>
  <%= link_to "マイページへ", user_path(current_user.id) %>
<% end %>
<%= button_to 'ログアウト', destroy_user_session_path, method: :delete %> 

<div class="spalas-container">
  <% @spalas.each do |t| %>
    <div class="spala">
      
           <div class="top-container">
              <div class="left-con">
                <%= image_tag t.image_url, size: "250x200" if t.image? %>
              </div>
              <div class="right-con">
                <div class="bo1"> <%= t.created_at.strftime('%Y/%m/%d') %><%= t.user.name %></div>
                <div class="bo2"><%= t.name %></div>
                <div class="bo3"><%= t.review %></div>
              </div>
              
            </div>
          
          
        
            <div class="bottom-container">
               <div class="bo4">
                  <div class="bc">
                    <% if user_signed_in? %>
                    <% if current_user.already_liked?(t) %>
                        <%= link_to spala_like_path(id: t.id, spala_id: t.id), method: :delete do %>
                          
                          <i class="fas fa-heart"></i><%= t.likes.count %>
                          
                        <% end %>
                    <% else %>
                        <%= link_to spala_likes_path(id: t.id, spala_id: t.id), method: :post do %>
                          
                          <i class="far fa-heart"></i><%= t.likes.count %>
                          
                        <% end %>
                    <% end %>
                    <% else %>
                    
                    <i class="far fa-heart"></i><%= t.likes.count %> 
                    <% end %>
                  </div>
                  <div class="hu">
                    <h2>総合評価</h2>
                    <span class="star-rating">
                      <span class="star-rating-front" style="width: <%= getPercent(t.overall) %>%;">★★★★★</span>
                      <span class="star-rating-back">★★★★★</span>
                    </span> 
                  </div>
                </div>
                <div class="bo5">
                  <%= link_to "編集する", edit_spala_path(t.id) %>
                  <%= button_to "削除する", spala_path(t.id), method: :delete %> 
                  <%= link_to "詳細へ", spala_path(t.id) %> 
                </div>
          </div>
  </div>
  <% end %>
</div>
  

<%= page_entries_info @spalas %>
<%= paginate @spalas %>
<%= link_to "トップページに戻る", root_path %>

