<%= stylesheet_link_tag 'menu', :media => "all" %>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Alata&family=Hind:wght@700&family=Kaisei+Decol:wght@400;500&family=Montserrat:wght@100&family=Shadows+Into+Light&family=Special+Elite&display=swap" rel="stylesheet">

<div class="jj">
 <h1>メニュー<i class="fa-solid fa-utensils"></i></h1>
 <p>当店自慢のパスタやチーズをおかけします</p>
</div>
<div class="boxmenu">
 <div class="toro">
 <%= image_tag 'IMG_3276.jpeg', size: "250x225", class:"to"%>
 <p>とろける７種のチーズのカルボ　税込み円</p>
 <p>当店人気No1</p>
 </div>
 <div class="par">
 <%= image_tag 'IMG_3272.jpeg', size: "250x225", class:"pa"%>
 </div>
 <div class="toma">
 <%= image_tag 'IMG_3265.jpeg', size: "250x225", class:"ku"%>
 </div>
 <div class="kuritoma">
 <%= image_tag 'IMG_3282.jpeg', size: "250x225", class:"ma"%>
 </div>
 <div class="tara">
 <%= image_tag 'IMG_3270.jpeg', size: "250x225", class:"me"%>
 </div>
 <div class="corn">
 <%= image_tag 'IMG_3652.jpeg', size: "250x225", class:"co"%>
 </div>
 <div class="meat">
 <%= image_tag 'IMG_3273.jpeg', size: "250x225", class:"tokusei"%>
 </div>
 <div class="mar">
 <%= image_tag 'IMG_3281.jpeg', size: "250x225", class:"mo"%>
 </div>
 <div class="teri">
 <%= image_tag 'IMG_3279.jpeg', size: "250x225", class:"te"%>
 </div>
 <div class="sara">
 <%= image_tag 'IMG_3275.jpeg', size: "250x225", class:"sa"%>
 </div>
</div>

<div class="container">
<a href="http://localhost:3000/" class="btn-shine">トップページへ</a>
</div>
<div class="container-02">
<a href="http://localhost:3000/perfumes" class="btn-shine is-pink">診断ページへ</a>
</div>
