<%= stylesheet_link_tag 'menu', :media => "all" %>

<h1>メニュー一覧</h1>
 <p>当店自慢のパスタやチーズをおかけします</p>
<div class="boxmenu">
 <div class="toro">
 <%= image_tag 'IMG_3276.jpeg', size: "250x225", class:"to"%>
 <p>torokeru</p>
 </div>
 <div class="par">
 <%= image_tag 'IMG_3272.jpeg', size: "250x225", class:"pa"%>
 </div>
 <div class="toma">
 <%= image_tag 'IMG_3265.jpeg', size: "250x225", class:"ku"%>
 </div>
 <div class="kuritoma">
 <%= image_tag 'IMG_3282.jpeg', size: "250x225", class:"ma"%>
 </div>
 <div class="tara">
 <%= image_tag 'IMG_3270.jpeg', size: "250x225", class:"me"%>
 </div>
 <div class="corn">
 <%= image_tag 'IMG_3652.jpeg', size: "250x225", class:"co"%>
 </div>
 <div class="meat">
 <%= image_tag 'IMG_3273.jpeg', size: "250x225", class:"tokusei"%>
 </div>
 <div class="mar">
 <%= image_tag 'IMG_3281.jpeg', size: "250x225", class:"mo"%>
 </div>
 <div class="teri">
 <%= image_tag 'IMG_3279.jpeg', size: "250x225", class:"te"%>
 </div>
 <div class="sara">
 <%= image_tag 'IMG_3275.jpeg', size: "250x225", class:"sa"%>
 </div>
</div>